{# Implement buttons as a reusable component #}

{% set type = type ?? 'link' %}

{% set classes = 'bg-brand-300 px-4 py-2 font-normal no-underline transition-colors hover:bg-brand-500 hover:text-white dark:bg-brand-600' %}

{% switch type %}

{% case "link" %}

    <a class="{{ classes }}" href="{{ href }}">{{ caption }}</a>

{% case "submit" %}

    <button type="submit" class="{{ classes }}">
        {{ caption }}
    </button>

{% endswitch %}